* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial Rounded MT;
}

/* ! BACKGROUND ! */
body {
  background-image: url(../background.png);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ! NAVIGATION BAR ! */
nav {
  background: black;
  height: 103px;
  width: 100%;
}

nav img {
  width: 9vh;
  margin: 8px;
  border-radius: 10px;
}

label.logo {
  color: white;
  font-size: 55px;
  line-height: 100px;
  vertical-align: top;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  font-size: 25px;
  display: inline-block;
  line-height: 100px;
  margin: 0 40px;
  padding: 0 15px;
}

nav ul li a {
  color: white;
  text-transform: uppercase;
  border-radius: 0.5vh;
}

nav ul li a:hover {
  background-color: rgba(243, 243, 243, 0.5);
  transition: ease-in;
  transition-duration: 250ms;
  color: whitesmoke;
  cursor: pointer;
  padding: 7px;
  margin: -7px;
}

/* ! CONTAINER ! */
.wrapper {
  height: 675px;
  margin-top: 5vh;
  width: 420px;
  background: rgba(115, 115, 110, 0.6);
  color: black;
  padding: 30px 40px;
  border-radius: 40px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.8);
}

/* ! IMAGE IN CONTAINER ! */
.wrapper img {
  display: block;
  width: 17vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 40px;
}

/* ! INPUTS ! */
.wrapper .input {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input input {
  padding: 15px;
  width: 100%;
  height: 100%;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
}

.input input:focus {
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.input input::placeholder {
  color: rgb(255, 255, 255);
}

.input input:focus::placeholder {
  color: transparent;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 3px;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .button {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.wrapper .button:hover {
  background-color: rgba(243, 243, 243, 0.2);
  border: 1px solid white;
  color: white;
  transition: ease-out;
  transition-duration: 150ms;
  cursor: pointer;
}

.wrapper .register-link {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.wrapper .Others {
  text-align: center;
  margin-top: 30px;
}

/* ! ICONS AT THE BOTTOM ! */
.wrapper .google,
.wrapper .facebook,
.wrapper .twitter {
  float: left;
  width: 33%;
}

.Icons::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper .google img,
.wrapper .facebook img,
.twitter img {
  width: 5vh;
  height: auto;
  margin: 20px 10px 0px;
  transition-duration: 150ms;
}

.wrapper .google img:hover,
.wrapper .facebook img:hover,
.twitter img:hover {
  transform: scale(1.5);
}
